@import "~photon-colors/photon-colors.scss";
@import "../utils";

html {
  scrollbar-color: $ink-60 $ink-70;
}

body {
  display: flex;
  flex-direction: column;

  background: $ink-80;
  color: white;
}

$nav-height: 38px;
#toolsNav {
  @include shadow;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: end;
  background: $ink-70;
  height: $nav-height;
  box-sizing: content-box;
  z-index: 10;
  transition: padding-bottom 0.25s cubic-bezier(0.07, 0.95, 0, 1) 0.1s;
  &.lowered {
    transition: padding-bottom 0.25s cubic-bezier(0.07, 0.95, 0, 1);
    padding-bottom: $nav-height;
  }
}

#openTools {
  @include hover;
  height: 24px;
  margin: 0 1ex;
  align-self: center;
}

#tools {
  overflow: auto;
  display: flex;

  div {
    display: flex;
    align-items: center;

    padding: 0 1em;
    @include hover;
  }

  transition: clip-path 0.25s cubic-bezier(0.07, 0.95, 0, 1);
  clip-path: inset(0 0 0 100%);
  &.open {
    transition: clip-path 0.25s cubic-bezier(0.07, 0.95, 0, 1) 0.1s;
    clip-path: inset(0 0 0 0);
  }
}

#categories {
  position: fixed;
  top: 0;
  left: 0;
  height: $nav-height;
  max-width: calc(100% - $nav-height);
  margin-right: $nav-height;
  z-index: 11;
  display: flex;
  justify-content: left;
  background: $ink-70;
  transition: top 0.25s cubic-bezier(0.07, 0.95, 0, 1) 0.1s;
  &.lowered {
    transition: top 0.25s cubic-bezier(0.07, 0.95, 0, 1);
    top: $nav-height;
  }
}
#catAll {
  @include hover;
  border-right: 2px inset white;
  align-self: center;
  padding: 0 1ex 0.5ex 1ex;
  margin: 1px 1ex 0 1ex;
  height: fit-content;
  border-radius: 8px 0 0 8px;
  &.selected {
    background: $ink-50;
  }
}
#catSelect {
  display: flex;
  overflow: scroll;
  align-items: safe center;
  div {
    @include hover;
    border-radius: 8px;
    height: fit-content;
    padding: 0 1ex 0.5ex 1ex;
  }
  div.selected {
    background: $ink-50;
  }
}

.empty {
  margin: 1em;
  text-align: center;
}

.entry {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: max-content 1fr max-content max-content;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "icon title read thumbnail"
    "author author date thumbnail";
  align-items: center;

  cursor: pointer;
  background: $ink-70;
  margin: 0.5em;
  padding: 0.5em;

  &:first-of-type .thumbnail {
    transform-origin: top right;
  }
  &:last-of-type .thumbnail {
    transform-origin: bottom right;
  }
}

$areas: "icon", "title", "read", "thumbnail", "author", "date", "thumbnail";
@each $area in $areas {
  .#{$area} {
    grid-area: #{$area};
  }
}

.title {
  text-overflow: ellipsis;
}

.read {
  @include hover;
  border-radius: 4px;
  justify-self: flex-end;
}

.author,
.date {
  align-self: flex-end;
}

.thumbnail {
  position: relative;
  height: 3em;
  transform-origin: center right;
  z-index: 0;

  transition: transform 0.25s cubic-bezier(0.07, 0.95, 0, 1);
  &:hover {
    transform: scale(4);
    z-index: 1;

    .duration {
      opacity: 1;
    }
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
  .duration {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: opacity 0.25s ease-out;
    opacity: 0;
    background: rgba($ink-80,0.55);
    border-radius: 1ex;
  }
}

