@import "~photon-colors/photon-colors.scss";
@import "../utils";

body {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;

  margin: 1em;

  background: $ink-80;
  color: white;
  font: caption;
  -moz-user-select: none;

  & > * {
    grid-column: 2 / 3;
  }
}

* {
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em;
  margin-bottom: 1em;
  background: $ink-70;
}

.setting {
  display: flex;
  align-items: center;
  & label {
    margin: 1ex;
    align-self: baseline;
  }
  & input[type=checkbox] {
    align-self: baseline;
  }
  & output {
    margin: 1ex;
  }
  & details {
    max-width: 400px;
    background: #00000026;
    border-radius: 10px;
  }
  & summary {
    list-style: none;
    font-size: large;
  }
}

#saveSettings {
  margin-top: 1em;
}

h2 {
  display: flex;
  align-items: center;
  margin: 1em 0 0.5em;
  min-width: 20ch;
}

.buttonGroup {
  display: flex;
  margin-bottom: 1em;

  button {
    flex: 1;

    &:first-child {
      margin-right: 0.25em;
    }

    &:last-child {
      margin-left: 0.25em;
    }
  }
}
.cloud_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  .cloud_cont {
    max-width: 550px;
    min-width: 300px;
  }
  .cloud_item {
    padding: 0.5em;
    border-radius: 4px;
    background-color: $ink-60;
    margin: 0.25em;
    max-width: 40%;
    height: fit-content;
    & > span {
      margin: 1ex;
    }
    & > img {
      padding: 4px;
      border-radius: 4px;
      @include hover();
      &:active {
        background: rgba(black, 0.1);
      }
      vertical-align: middle;
    }
  }
}
#CatManager {
  flex-wrap: nowrap;
}
#addCat {
  transition: background 0.25s cubic-bezier(0.07, 0.95, 0, 1);
  &:hover {
    background: $ink-70;
    box-shadow: 0 0 0 2px $ink-60;
  }
  &:active {
    background: $ink-80;
  }
  & > img {
    pointer-events: none;
  }
}
#addFeedCat,
#newCatDialog {
  z-index: 2147483647; // 2^31-1, literally the biggest z-index possible
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  padding: 1em;

  background: $ink-70;
  color: white;
  font: caption;
  box-shadow: 0 0 0 100vmax rgba(black, 0.75);

  &.disabled {
    display: none;
  }
  h2 {
    margin: 0.25em 0 0.5em;
    white-space: pre-wrap;
  }
  input[type="text"] {
    background: $ink-60;
    padding: 4px;
  }
  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1ch;
    margin-top: 0.5em;
  }
}
#addFeedCatSelect {
  background: $ink-60;
  border-radius: 4px;
  border-style: inset;
  border-color: $ink-50;
  max-height: 150px;
  max-width: 450px;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  & > div {
    border-radius: 8px;
    padding: 0.5ex;
    border-color: $ink-60;
    border-style: solid;
  }
  div.selected {
    background: $ink-70;
    border-style: outset;
  }
  div.selected.last_selected {
    border-style: ridge;
  }
}

#addFeed {
  z-index: 2;
}
.feed {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-gap: 0.5em;
  align-items: center;
  padding: 1em;
  margin: 0.5em 0;
  background: $ink-60;

  label {
    text-align: right;
  }

  .add,
  .delete {
    padding: 4px;
    border-radius: 4px;
    @include hover();

    &:active {
      background: rgba(black, 0.1);
    }
  }

  .feedCat {
    justify-content: start;
    max-width: 430px;
    .cloud_item {
      background-color: $ink-70;
    }
  }
}

.no_feeds {
  padding: 1em 2em;
  color: rgba(white, 0.5);
  text-align: center;
}

#download,
#upload {
  display: none;
}
